<div class="navbar">
	<div class="navleft">
		<div class="navitem">
			<a href="/">home</a>
		</div>
	</div>
	<div class="navright">
		<div class="navitem">
			<a href="/projects">projects</a>
		</div>
		<div class="navitem">
			<a href="/poetry">poetry</a>
		</div>
	</div>
</div>