<!DOCTYPE html>
<html>
  <head>
    <title>Poetry</title>
    <link rel='stylesheet' href='/styles/poetrytheme.css' />
  </head>
  <body>
    <%- include('bits/navbar.ejs') %>
	<div class="bg"></div>
	<div class="bgoverlay"></div>
	<div id="poemviewer"></div>



	
	
  	
	<script type="text/javascript">
		
		let params = new URLSearchParams(window.location.search);
		let title = params.get("title");
		let towrite="<span class='poemtitle'>"+title+"</span>\n";
		fetch("https://danexistsmaybe.github.io/poems.txt")
		.then((res) => res.text())
		.then((text) => {
			for (let poem in text.split('__TITLE__')) {
				if (poem==0) continue;
				if (text.split('__TITLE__')[poem].split('\n')[0].toLowerCase()==title.toLowerCase()) {
					towrite+="<span class='poemtext'>"+text.split('__TITLE__')[poem].split('\n')[1]+"</span>\n";
				}
			}
			document.getElementById("poemviewer").innerHTML = towrite;
		})
		.catch((e) => console.error(e));
	
	  
  	</script>
  </body>
</html>
